<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="CloudBerryDecrypter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<userSettings>
		<CloudBerryDecrypter.Properties.Settings>
			<setting name="Password" serializeAs="String">
				<value />
			</setting>
			<setting name="OutputFolder" serializeAs="String">
				<value />
			</setting>
			<setting name="UnzipFiles" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="S3DisplayName" serializeAs="String">
				<value>S3</value>
			</setting>
			<setting name="S3Key" serializeAs="String">
				<value />
			</setting>
			<setting name="S3Secret" serializeAs="String">
				<value />
			</setting>
			<setting name="CreateFolders" serializeAs="String">
				<value>True</value>
			</setting>
		</CloudBerryDecrypter.Properties.Settings>
	</userSettings>
</configuration>